.navbar-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.navbar-logo img{
    height: 7rem;
    width: auto;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items:center;
}

.navbar-list li{
    list-style: none;
    padding: 0 3.5rem;
}

.navbar-list li a{
    font-size: 1.1rem;
    color:rgb(245,71,72);
    text-decoration: none;
    font-family: "roboto";
    font-weight: 700;
}

.navbar-list li a:hover{
    color: #000000;
}
