.navbar-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-right: 110px;
    padding-left: 110px;
}

.navbar-logo img{
    height: 130px;
    width: auto;
    padding-top:20px;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items:center;
}

.navbar-list li{
    list-style: none;
    padding: 0px 60px;

}

.navbar-list li a{
    color:rgb(245,71,72);
    text-decoration: none;
    font-family: "roboto";
    font-weight: 700;
    font-size: 17px;
}

.navbar-list li a:hover{
    color: #000000;
}
